/* css styles */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

/* Cambiar la fuente de toda la página a Arial */
body {
    font-family: 'Poppins', sans-serif;
}

body, .content {
    font-family: 'Poppins', sans-serif;
}

/*----------------------------------------------------------------------

/* AJUSTAR LOS ICONOS Y TEXTO DEL INDEX.QMD

/* Aumentar el tamaño de los íconos */
.about-links .about-link-icon {
    font-size: 5em; /* Ajusta este valor para aumentar o disminuir el tamaño del ícono */
    margin-bottom: 0.5em; /* Añade espacio debajo del ícono */
}

.about-links .about-link-icon {
    font-size: 5em; /* Ajusta este valor para aumentar o disminuir el tamaño del ícono */
    margin-bottom: 10px; /* Añade espacio debajo del ícono */
}

/* Alinear los enlaces en una columna vertical */
.about-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px; /* Espacio entre los elementos */
}

/* Colocar los íconos encima del texto */
.about-links .about-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
 

/*----------------------------------------------------------------------

/* Cambiar color de los enlaces */
a {
  color: #F8AA0D; /* Color para enlaces normales */
  text-decoration: none; /* Opcional: elimina el subrayado */
}

/*----------------------------------------------------------------------

/* Cambiar el color del texto en el navbar */
.navbar {
  color: white; /* Cambiar color de texto a blanco */
}

.navbar a {
  color: white; /* Cambiar el color de los enlaces en el navbar a blanco */
  text-decoration: none; /* Opcional: elimina el subrayado de los enlaces */
}

.navbar a:hover {
  color: white; /* Opcional: color más claro al pasar el cursor */
}

#footer p {color: white;}

